h1.heading {
    color: turquoise;
}

h2 {
    color: goldenrod;
}

ul.species {
    color: firebrick;
}

h4.facts {
    color: orangered;
}

h4.diet {
    color: rgb(100, 178, 241);
}

h4.habitat {
    color: deeppink;
}

h4.pastime {
    color: green;
}

h4.numbers {
    color: magenta;
}

.button {
    background: orange;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.WWF {
    align-items: center;
    display: block;
    text-align: center;
}

body {
    background-image: url('/tiger.png');
}

.container {
    background: rgba(255,255,255,0.9);
    padding: 10px;
}

img {
    display: block;
    margin: auto;
}

iframe {
    display: block;
    margin: auto;

}

.what {
    width: 700;
}